body {
    max-width: 500px;
    margin: 0 auto;
    font-family: 'DotGothic16', sans-serif;
}

.messages {
    margin-bottom: 20px;
}

.out-message {
    padding: 5px;
    background-color: lightblue;
}

.in-message {
    padding: 5px;
    background-color: lightseagreen;
}